extends default

block content
    div.page_content   
        h2.centered MyStar is the leading online star database with over 500 billion unnamed stars
        h4.centered Find that special star for you or your loved one and name it yourself!
            |You'll then be given our official certificate with all the known information about the star and you special name
            |right on it!
        img(src='/pictures/tiger_red.jpg').logo_centered